html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ol, ul {
  list-style: none;
}

body {
  background-color: #E8EBF3;
}

#root {
  margin: 0px 100px 0px 100px;
}

#main-content {
  padding-top: 80px;
  height: calc(100% - 80px);
}

@media only screen and (max-width: 1470px) {
  #main-content {
    padding-top: 0px;
    height: 100%;
  }
}

.label-text {
  font-size: 18px;
  font-weight: 700;
}

.header-text {
  font-size: 24px;
  font-weight: 600;
}

.card-header {
  background-color: rgba(0,0,0,0) !important;
}

.group-container {
  height: 80vh;
  max-height: 80vh;
}

.text-warning {
  color: #db9027 !important;
  font-weight: 600;
}
.text-warning-hover:hover {
  color: #a0640f !important;
  font-weight: 600;
  cursor: pointer;
}

.text-success {
  color: #4baa95 !important;
  font-weight: 600;
}

.text-success-hover:hover {
  color: #2d7a6a !important;
  font-weight: 600;
  cursor: pointer;
}

.text-danger {
  color: #ca2715 !important;
  font-weight: 600;
}

.text-danger-hover:hover {
  color: #800d00 !important;
  font-weight: 600;
  cursor: pointer;
}

.text-info {
  color: #21a3ca !important;
}

.text-info-hover:hover {
  color: #0d7797 !important;
  cursor: pointer;
}