#navbar {
    margin-bottom: 0;
    width: calc(100% - 200px);
    height: 40px;
    z-index: 10;
    transition: 0.25s all ease-in-out;
}

.container-fluid {
    background-color: #E8EBF3;
}

li {
    list-style-type: none;
    background-color: #1976d2;
    cursor: pointer;

    &:hover {
        background-color: #6c757d;
    }

    i {
        padding-right: 8px;
    }

    i,
    p {
        color: #fff;
    }

    transition: all 0.25s ease-in-out;
}

.top-narbar {
    position: fixed;
    top: 8px;
}

.btn-logout {
    border: 0px;
    border-radius: 0px;
    background-color: transparent;
    padding: 8px 16px;
    transition: all 0.25s ease-in-out;
    background-color: #1976d2;
    &:hover {
        background-color: #cc3e3e;
    }
}

.navbar-menu {
    li {
        margin: 0 2px;
    }
}

.highlight {
    background-color: rgb(201, 200, 200);
    & p, i {
        color: black;
        font-weight: 700;
    }
}

.navbar-custom li {
    background-color: #E8EBF3;
}

.navbar-nav li {
    padding: 8px 16px;
    .btn-logout {
        padding: 8px 0px;
    }
}

.li-btn-logout:hover {
    background-color: #cc3e3e;
    transition: all 0.25s ease-in-out;
    .btn-logout  {
        background-color: #cc3e3e;
    }
}