.mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib {
    display: none !important;
}

.mapboxgl-marker-anchor-center {
    z-index: 99999;
}

.mapboxgl-user-location-accuracy-circle, .mapboxgl-user-location-dot {
    z-index: 9999;
}